<div>
    <div ngClass="bg-white flex h-[70vh]">
        <div class="w-full flex flex-wrap flex-col" [ngStyle]="{
            'background-image': 'url(../../assets/container.webp)',
            'background-position': 'center',
            'background-size': 'cover',
            'background-repeat': 'no-repeat'
          }">
            <p
                class="text-xl font-medium m-auto text-white max-w-4xl uppercase backdrop-blur-sm backdrop-brightness-[100%] py-6 px-3  rounded-md sm:text-2xl text-center">
                Découvrez le plaisir d'apprendre en mettant vos compétences à l'épreuve avec QuizMinds ! Défiez vos professeurs et rivalisez avec vos camarades dans des quiz interactifs. Relevez le défi dès maintenant et prouvez vos compétences avec style ! 🌐🧠
            </p>
        </div>
    </div>
</div>