<app-confirm *ngIf="isPopupOpen" (deleteEvent)="confirmDelete()" (closePopup)="closePopup()" title="Delete Subject"
    message="confirm that you want to delete this subject" submitTitle="confirm"></app-confirm>

<app-create *ngIf="isCreatePopupOpen" (dataEvent)="receiveData($event)" (closeCreatePopup)="closeCreatePopup()"
    [subjectData]="subjects"></app-create>
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6 m-14">
    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
            <h3 class="text-lg font-medium leading-6 text-gray-900 uppercase">subjects List</h3>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
            <button type="button" (click)="openCreatePopup()"
                class="relative inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 uppercase">create
                subject</button>
        </div>
    </div>
</div>
<div class="pb-28">
    <div *ngFor="let item of subjects" class="overflow-hidden bg-white shadow sm:rounded-md m-14">
        <ul role="list" class="divide-y divide-gray-200">
            <li>
                <div class="block hover:bg-gray-50">
                    <div class="flex items-center px-4 py-4 sm:px-6">
                        <div class="flex min-w-0 flex-1 items-center">
                            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                <div>
                                    <p class="truncate text-sm font-medium text-green-700">{{item.title}}</p>
                                    <p class="mt-2 flex items-center text-sm text-gray-500 gap-2">
                                        <ng-icon name="bootstrapCalendarCheckFill" class="text-gray-400"></ng-icon>
                                        <span class="truncate">{{item.title}}</span>
                                    </p>
                                </div>
                                <div class="hidden md:block">
                                    <div>
                                        <p *ngIf="item.subject != null"
                                            class="mt-2 flex items-center text-sm text-gray-500">
                                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            has subject parent : {{item.subject.title}}
                                        </p>
                                        <p *ngIf="item.subject == null"
                                            class="mt-2 flex items-center text-sm text-gray-500">
                                            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-red-400"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            has no subject parent
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-6 items-center">
                            <button>
                                <ng-icon name="ionPencil" class="text-blue-900 text-xl"></ng-icon>
                            </button>
                            <button>
                                <ng-icon *ngIf="item.id" name="ionBackspaceSharp" class="text-red-700 text-2xl"
                                    (click)="openPopup(item.id)"></ng-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>